@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-4 text-center">Welcome</h1>
    <p style="font-size: large;">
        Log in to the website and create your shopping list quickly, easily, and conveniently. It's simple and completely free. Skip the hassle of making your shopping list on WhatsApp—use this site designed specifically for that purpose.
    </p>
    
    <div class="container mt-5 d-flex justify-content-center">
        <div class="text-center box-btn-start" >
            <a asp-area="" asp-controller="Auth" asp-action="Login" class="btn btn-primary">Login</a>
            <a asp-area="" asp-controller="Auth" asp-action="Register" class="btn btn-primary">Register</a>
        </div>
    </div>
</div>
